* {
  box-sizing: border-box;
}
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  background-color: navy;
  gap: 80px;
  color: orange;
  width: 1200px;
  margin: 0 auto;
  border: 6px solid orange;
  align-items: center;
  border-radius: 20px;
}

img {
  width: 300px;
  border-radius: 20px 0px 0px 20px;
}

h1 {
  font-size: 65px;
}

main {
  width: 1200px;
  margin: 0 auto;

}

h2 {
  font-size: 45px;
  text-align: center;
}

ul li {
  font-size: 30px;

}


footer {
  width: 1200px;
  margin: 0 auto;
  background-color: navy;
  border: 6px solid orange;
  color: white;
  text-align: center;
  padding: 60px;
  font-size: 15px;
  border-radius: 20px;
}